<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oalonedeveloper.oliver.oliverappandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="com.google.android.gma.vision.DEPENDENCIES"
        android:value="face" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/oliver_cuadrado"
        android:label="@string/app_name"
        android:roundIcon="@drawable/oliver_redondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CareManager.ElectronicBills.ElectronicBillsActivity"></activity>
        <activity android:name=".CareManager.Commercialization.CommercializationTutorial.CommercializationTutorialActivity" />
        <activity android:name=".InformalCompanies.AddInformalCompanyActivity" />
        <activity android:name=".CareManager.CareLearning.VideoListActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.ReportGenerator.ReportGeneratorActivity" />
        <activity android:name=".CareManager.CareLearning.VideoSubjectActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.LessonLearned.LessonLearnedActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.ContractManagement.ContractManagementActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.DashboardProcess.DashboardProcessActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.InternalControl.InternalControlActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.DashboardsAndKeyindex.DashboardAndKeyIndexActivity" />
        <activity android:name=".CareManager.ManagementControlAndReports.ManagementControlAndReportsActivity" />
        <activity android:name=".CareManager.CareLearning.CareLearningActivity" />
        <activity android:name=".CareManager.Simulators.ProjectSimulator.ProjectSimulatorActivity" />
        <activity android:name=".CareManager.Simulators.FlowChart.FlowChartActivity" />
        <activity android:name=".CareManager.Simulators.GanttChart.WorkChargeAnnalysisActivity" />
        <activity android:name=".CareManager.Simulators.GanttChart.GantChartActivity" />
        <activity android:name=".CareManager.CareOptionsActivity" />
        <activity android:name=".CareManager.Simulators.FinancialAppeceamentSimulator.FinancialAppeceamentSimulatorActivity" />
        <activity android:name=".CareManager.Simulators.InterestRateSimulator.InterestRateSimulatorActivity" />
        <activity android:name=".CareManager.Simulators.QuotationReceivedAnalysys.QuotationReceivedActivityActivity" />
        <activity android:name=".CareManager.Simulators.QuotationReceivedAnalysys.QuotationReceivedAnalysysActivity" />
        <activity android:name=".CareManager.Simulators.QuatationSimulation.QuotationSimulationActivity" />
        <activity android:name=".CareManager.Simulators.SalesAndProfitProyection.SalesAndProfitProjectionActivity" />
        <activity android:name=".CareManager.Simulators.CostVolumeProfitAnalysys.CostVolumeProfitAnalysysActivity" />
        <activity android:name=".CareManager.Simulators.CostPriceSimulator.CostPriceSimulatorActivity" />
        <activity android:name=".CareManager.Simulators.SimulatorsActivity" />
        <activity android:name=".PlatformSelectionActivity" />
        <activity android:name=".CareManager.BusinessPlan.ContingencyPlan.ContingencyPlanActivity" />
        <activity android:name=".CareManager.BusinessPlan.ExecutiveSumary.ExecutiveSumaryActivity" />
        <activity android:name=".CareManager.BusinessPlan.FinancialPlan.FinancialPlanActivity" />
        <activity android:name=".CareManager.BusinessPlan.HumanResourcesPlan.HumanResourcesPlanActivity" />
        <activity android:name=".CareManager.BusinessPlan.OperationPlan.OperationPlanActivity" />
        <activity android:name=".CareManager.BlancedScoreCard.AnnualOperativePlan.AnnualOperativePlanActivity" />
        <activity android:name=".CareManager.StrategicDirection.BusinessModel.BusinessModelActivity" />
        <activity android:name=".CareManager.BusinessPlan.CommercialPlan.CommercialPlanActivity" />
        <activity android:name=".CareManager.BusinessPlan.BusinessPlanActivity" />
        <activity android:name=".CareManager.BlancedScoreCard.KeyIndex.KeyIndexActivity" />
        <activity android:name=".CareManager.BlancedScoreCard.StrategicMap.StrategicMapActivity" />
        <activity android:name=".CareManager.BlancedScoreCard.BalancedScoreCardActivity" />
        <activity android:name=".CareManager.StrategicDirection.OrganizationalLearning.OrganizationLearningActivity" />
        <activity android:name=".CareManager.StrategicDirection.StrategicMatrix.StrategicMatrixActivity" />
        <activity android:name=".CareManager.StrategicDirection.FODA.FodaActivity" />
        <activity android:name=".CareManager.StrategicDirection.MarketInformation.MarketInformationActivity" />
        <activity android:name=".CareManager.StrategicDirection.IndustryInformation.IndustryInformationActivity" />
        <activity android:name=".CareManager.StrategicDirection.LeanCanvas.LeanCanvasActivity" />
        <activity android:name=".CareManager.StrategicDirection.Values.OrganizationalValuesActivity" />
        <activity android:name=".CareManager.StrategicDirection.Mission.MissionActivity" />
        <activity android:name=".CareManager.StrategicDirection.Vision.VisionActivity" />
        <activity android:name=".CareManager.StrategicDirection.StrategicDirectionActivity" />
        <activity android:name=".CareManager.FinancialManagement.RiskManagement.RiskManagementActivity" />
        <activity android:name=".CareManager.FinancialManagement.CashFlow.CashFlowActivity" />
        <activity android:name=".CareManager.FinancialManagement.FinancialStatements.StatementOfIncomes.StatementOfIncomesActivity" />
        <activity android:name=".CareManager.FinancialManagement.AccountsToPaid.AccountsToPaidMonthlyActivity" />
        <activity android:name=".CareManager.FinancialManagement.AccountsNoPaid.AccountsNoPaidMonthlyActivity" />
        <activity android:name=".CareManager.Production.ProductionCapacity.WorkerBillSuccessfullActivity" />
        <activity android:name=".CareManager.FinancialManagement.CashAndBanks.CashAndBanksMonthlyActivity" />
        <activity android:name=".CareManager.FinancialManagement.FinancialStatements.FinancialSituation.FinancialSituationActivity" />
        <activity android:name=".CareManager.FinancialManagement.FinancialStatements.FinancialStatementsActivity" />
        <activity android:name=".CareManager.PeopleManagement.Evaluation360.JobProfilesEvaluationsActivity" />
        <activity android:name=".CareManager.PeopleManagement.Evaluation360.Evaluation360Activity" />
        <activity android:name=".CareManager.FinancialManagement.Budget.BudgetActivity" />
        <activity android:name=".CareManager.FinancialManagement.CashAndBanks.CashAndBanksActivity" />
        <activity android:name=".CareManager.FinancialManagement.FixedAssets.FixedAssetsActivity" />
        <activity android:name=".CareManager.FinancialManagement.FinanacialManagementActivity" />
        <activity android:name=".CareManager.Normativity.NormativitySumaryActivity" />
        <activity android:name=".CareManager.Normativity.CivilResponsabilityActivity" />
        <activity android:name=".CareManager.Normativity.EnviromentalNormativityActivity" />
        <activity android:name=".CareManager.Normativity.SanitaryNormativityActivity" />
        <activity android:name=".CareManager.Normativity.LabourNormativityActivity" />
        <activity android:name=".CareManager.Normativity.TaxesNormativityActivity" />
        <activity android:name=".CareManager.Normativity.NormativityIntroductionActivity" />
        <activity android:name=".CareManager.Normativity.NormativityActivity" />
        <activity android:name=".CareManager.PeopleManagement.RoasterAndPerfomance.JobProfileRoasterActivity" />
        <activity android:name=".CareManager.PeopleManagement.RoasterAndPerfomance.RoasterAndPerfomanceActivity" />
        <activity android:name=".CareManager.PeopleManagement.WorkersPayroll.WorkerPayrollProfilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.WorkersPayroll.WorkersPayrollActivity" />
        <activity android:name=".CareManager.PeopleManagement.PersonalFiles.JobProfileFilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.PersonalFiles.PersonalFilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.JobProfiles.JobProfileDetailActivity" />
        <activity android:name=".CareManager.PeopleManagement.JobProfiles.JobProfilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.PeopleManagementActivity" />
        <activity android:name=".CareManager.Production.LeanManufacturing.LeanManufacturingActivity" />
        <activity android:name=".CareManager.Logistic.Outsoursing.OutsoursingActivity" />
        <activity android:name=".CareManager.Production.MachineryMaintenance.MachineryMaintenanceActivity" />
        <activity android:name=".CareManager.Production.CriticalInventoryControl.WareHouseCriticalInventoryControlActivity" />
        <activity android:name=".CareManager.Production.CriticalInventoryControl.CirticalInventoryControlActivity" />
        <activity android:name=".CareManager.Production.ProductionCapacity.ProductionCapacityActivity" />
        <activity android:name=".CareManager.Production.QualityControl.QualityControlActivity" />
        <activity android:name=".CareManager.Production.ProductDatasheet.ProductDatasheetDetailActivity" />
        <activity android:name=".CareManager.Production.ProductDatasheet.ProductDatasheetActivity" />
        <activity android:name=".CareManager.Production.ProductionCost.ProductionCostActivity" />
        <activity android:name=".CareManager.Logistic.Dispatch.DispatchActivity" />
        <activity android:name=".CareManager.Logistic.OrderProcessing.OrderProcessingListActivity" />
        <activity android:name=".CareManager.Logistic.OrderProcessing.OrderProcessingActivity" />
        <activity android:name=".CareManager.Logistic.SupplierEvaluation.SupplierProductEvaluationActivity" />
        <activity android:name=".CareManager.Logistic.SupplierEvaluation.SupplierEvaluationActivity" />
        <activity android:name=".CareManager.Logistic.DemmandQuantity.ProductDetailDemmandQuantityActivity" />
        <activity android:name=".CareManager.Logistic.DemmandQuantity.DemmandQuantityActivity" />
        <activity android:name=".CareManager.Logistic.PurchaseOrder.PurchaseOrdersListActivity" />
        <activity android:name=".CareManager.Logistic.PurchaseOrder.PurchaseOrderActivity" />
        <activity android:name=".CareManager.Production.ProductionOrders.ProductionOrderProductDetailActivity" />
        <activity android:name=".CareManager.Production.ProductionOrders.ProductionOrdersManagementActivity" />
        <activity android:name=".CareManager.Production.ProductionActivity" />
        <activity android:name=".CareManager.Logistic.InventoryControl.WarehouseInventoryControlActivity" />
        <activity android:name=".CareManager.Logistic.InventoryControl.InventoryControlActivity" />
        <activity android:name=".CareManager.Logistic.Storage.ProductKardexActivity" />
        <activity android:name=".CareManager.Logistic.Storage.WarehouseActivity" />
        <activity android:name=".CareManager.Logistic.Storage.StorageActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanRequestSentSuccessfullyActivity" />
        <activity android:name=".CareManager.Logistic.DemmandPlanning.DemandPlanningActivity" />
        <activity android:name=".CareManager.Logistic.LogisticActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanSimulationActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.UploadDocumentationActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanRequestActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LendingDetailActivity" />
        <activity android:name=".CareManager.SalesModule.SalesProjection.SalesProjectionActivity" />
        <activity android:name=".FinancialManagement.FinancialInstitutionDetailActivity" />
        <activity android:name=".CareManager.SalesModule.MySellers.MySellersActivity" />
        <activity android:name=".CareManager.SalesModule.CustomerSchedule.CustomerScheduleActivity" />
        <activity android:name=".CareManager.Commercialization.Dashboards.DashboardsActivity" />
        <activity android:name=".CareManager.Commercialization.NewMatrix10.NewMatrix10Activity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.CreateInvoiceActivity" />
        <activity android:name=".CareManager.Commercialization.CustomerSupport.CustomerSuportActivity" />
        <activity android:name=".CareManager.Commercialization.CreditsAndTreasury.CreditAndTreasuryActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.SuccesfulBillActivity" />
        <activity android:name=".Companies.MyProductsActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.CreateBillActivity" />
        <activity android:name=".CareManager.SalesModule.SalesFunnel.SalesFunnelActivity" />
        <activity android:name=".CareManager.SalesModule.SalesArgument.SalesArgumentActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.BillsIssuingActivity" />
        <activity android:name=".CareManager.Commercialization.ProductMarketMatrix.ProductMarketMatrixActivity" />
        <activity android:name=".CareManager.SalesModule.SalesModuleActivity" />
        <activity android:name=".CareManager.Commercialization.CommercializationActivity" />
        <activity android:name=".CareManager.UserInformationModule.UserInformationModuleActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".CareManager.ValueProposalModule.ValueProposalActivity" />
        <activity android:name=".Companies.MyCustomersActivity" />
        <activity android:name=".CareManager.CareManagerActivity" />
        <activity android:name=".Companies.OliverAppForBusinessActivity" />
        <activity android:name=".Companies.AddCompanyActivity" />
        <activity android:name=".Companies.MyCompaniesActivity" />
        <activity android:name=".OliverAppActivity" />
        <activity android:name=".RegistrationData.RegistrationDataActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".SmsActivity" />
        <activity android:name=".PhoneAuthActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oalonedeveloper.oliver.oliverappandroidapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>