<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oalonedeveloper.oliver.oliverappandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="com.google.android.gma.vision.DEPENDENCIES"
        android:value="face" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/oliver_android_icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/oliver_android_icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CareManager.PeopleManagement.RoasterAndPerfomance.JobProfileRoasterActivity"></activity>
        <activity android:name=".CareManager.PeopleManagement.RoasterAndPerfomance.RoasterAndPerfomanceActivity" />
        <activity android:name=".CareManager.PeopleManagement.WorkersPayroll.WorkerPayrollProfilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.WorkersPayroll.WorkersPayrollActivity" />
        <activity android:name=".CareManager.PeopleManagement.PersonalFiles.JobProfileFilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.PersonalFiles.PersonalFilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.JobProfiles.JobProfileDetailActivity" />
        <activity android:name=".CareManager.PeopleManagement.JobProfiles.JobProfilesActivity" />
        <activity android:name=".CareManager.PeopleManagement.PeopleManagementActivity" />
        <activity android:name=".CareManager.Production.LeanManufacturing.LeanManufacturingActivity" />
        <activity android:name=".CareManager.Logistic.Outsoursing.OutsoursingActivity" />
        <activity android:name=".CareManager.Production.MachineryMaintenance.MachineryMaintenanceActivity" />
        <activity android:name=".CareManager.Production.CriticalInventoryControl.WareHouseCriticalInventoryControlActivity" />
        <activity android:name=".CareManager.Production.CriticalInventoryControl.CirticalInventoryControlActivity" />
        <activity android:name=".CareManager.Production.ProductionCapacity.ProductionCapacityActivity" />
        <activity android:name=".CareManager.Production.QualityControl.QualityControlActivity" />
        <activity android:name=".CareManager.Production.ProductDatasheet.ProductDatasheetDetailActivity" />
        <activity android:name=".CareManager.Production.ProductDatasheet.ProductDatasheetActivity" />
        <activity android:name=".CareManager.Production.ProductionCost.ProductionCostActivity" />
        <activity android:name=".CareManager.Logistic.Dispatch.DispatchActivity" />
        <activity android:name=".CareManager.Logistic.OrderProcessing.OrderProcessingListActivity" />
        <activity android:name=".CareManager.Logistic.OrderProcessing.OrderProcessingActivity" />
        <activity android:name=".CareManager.Logistic.SupplierEvaluation.SupplierProductEvaluationActivity" />
        <activity android:name=".CareManager.Logistic.SupplierEvaluation.SupplierEvaluationActivity" />
        <activity android:name=".CareManager.Logistic.DemmandQuantity.ProductDetailDemmandQuantityActivity" />
        <activity android:name=".CareManager.Logistic.DemmandQuantity.DemmandQuantityActivity" />
        <activity android:name=".CareManager.Logistic.PurchaseOrder.PurchaseOrdersListActivity" />
        <activity android:name=".CareManager.Logistic.PurchaseOrder.PurchaseOrderActivity" />
        <activity android:name=".CareManager.Production.ProductionOrders.ProductionOrderProductDetailActivity" />
        <activity android:name=".CareManager.Production.ProductionOrders.ProductionOrdersManagementActivity" />
        <activity android:name=".CareManager.Production.ProductionActivity" />
        <activity android:name=".CareManager.Logistic.InventoryControl.WarehouseInventoryControlActivity" />
        <activity android:name=".CareManager.Logistic.InventoryControl.InventoryControlActivity" />
        <activity android:name=".CareManager.Logistic.Storage.ProductKardexActivity" />
        <activity android:name=".CareManager.Logistic.Storage.WarehouseActivity" />
        <activity android:name=".CareManager.Logistic.Storage.StorageActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanRequestSentSuccessfullyActivity" />
        <activity android:name=".CareManager.Logistic.DemmandPlanning.DemandPlanningActivity" />
        <activity android:name=".CareManager.Logistic.LogisticActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanSimulationActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.UploadDocumentationActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LoanRequestActivity" />
        <activity android:name=".FinancialManagement.LendingProduct.LendingDetailActivity" />
        <activity android:name=".CareManager.SalesModule.SalesProjection.SalesProjectionActivity" />
        <activity android:name=".FinancialManagement.FinancialInstitutionDetailActivity" />
        <activity android:name=".CareManager.SalesModule.MySellers.MySellersActivity" />
        <activity android:name=".CareManager.SalesModule.CustomerSchedule.CustomerScheduleActivity" />
        <activity android:name=".CareManager.Commercialization.Dashboards.DashboardsActivity" />
        <activity android:name=".CareManager.Commercialization.NewMatrix10.NewMatrix10Activity" />
        <activity android:name=".CareManager.SalesModule.SalesTutorialActivity" />
        <activity android:name=".CareManager.Commercialization.CommercializationToturialActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.CreateInvoiceActivity" />
        <activity android:name=".CareManager.Commercialization.CustomerSupport.CustomerSuportActivity" />
        <activity android:name=".CareManager.Commercialization.CreditsAndTreasury.CreditAndTreasuryActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.SuccesfulBillActivity" />
        <activity android:name=".Companies.MyProductsActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.CreateBillActivity" />
        <activity android:name=".CareManager.SalesModule.SalesFunnel.SalesFunnelActivity" />
        <activity android:name=".CareManager.SalesModule.SalesArgument.SalesArgumentActivity" />
        <activity android:name=".CareManager.Commercialization.BillsIssuing.BillsIssuingActivity" />
        <activity android:name=".CareManager.Commercialization.ProductMarketMatrix.ProductMarketMatrixActivity" />
        <activity android:name=".CareManager.SalesModule.SalesToolsActivity" />
        <activity android:name=".CareManager.SalesModule.SalesModuleActivity" />
        <activity android:name=".CareManager.Commercialization.CommercializationToolActivity" />
        <activity android:name=".CareManager.Commercialization.CommercializationActivity" />
        <activity android:name=".CareManager.NewProductsOrServices.NewProductsOrServicesToolsActivity" />
        <activity android:name=".CareManager.NewProductsOrServices.NewProductsOrServicesActivity" />
        <activity android:name=".CareManager.BusinessModelModule.BusinessModelToolsActivity" />
        <activity android:name=".CareManager.ValueProposalModule.ValueProposalToolsActivity" />
        <activity android:name=".CareManager.BusinessOportunitiesModule.BusinessOportunitiesToolsActivity" />
        <activity android:name=".CareManager.UserInformationModule.UserInformationModuleActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".CareManager.BusinessModelModule.BusinessModelActivity" />
        <activity android:name=".CareManager.ValueProposalModule.ValueProposalActivity" />
        <activity android:name=".Companies.MyCustomersActivity" />
        <activity android:name=".CareManager.BusinessOportunitiesModule.BusinessOportunitiesActivity" />
        <activity android:name=".CareManager.IntructionModule.IntroductionModuleActivity" />
        <activity android:name=".CareManager.CareManagerActivity" />
        <activity android:name=".Companies.OliverAppForBusinessActivity" />
        <activity android:name=".Companies.AddCompanyActivity" />
        <activity android:name=".Companies.MyCompaniesActivity" />
        <activity android:name=".OliverAppActivity" />
        <activity android:name=".RegistrationData.RegistrationDataActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".SmsActivity" />
        <activity android:name=".PhoneAuthActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oalonedeveloper.oliver.oliverappandroidapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>